*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Titillium Web", sans-serif; }

.container {
  margin: 0 auto;
  width: 1200px;
  position: relative; }
  @media (max-width: 767px) {
    .container {
      width: 100vw; } }
  @media (max-width: 1200px) {
    .container {
      width: 100vw; } }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.title {
  font-size: 42px;
  letter-spacing: 2px;
  padding-top: 100px; }
  @media (max-width: 767px) {
    .title {
      font-size: 7vw;
      margin: 0 5%;
      padding: 20% 0 0 0; } }

.white {
  color: #ffffff; }

.blue {
  color: #3c4761; }

.blue2 {
  color: #27283d; }

.black {
  color: #393939; }

.blue3 {
  color: #30bae7; }
  @media (max-width: 767px) {
    .blue3 {
      font-size: 5vw; } }

.menu-open .bar__list {
  display: block;
  z-index: -1;
  height: 100vh; }
.menu-open body {
  overflow: hidden; }
.menu-open .bar__icon:after {
  transform: rotate(45deg);
  transition: transform 0.4s linear 0.2s, top 0.195s linear;
  top: 25px; }
.menu-open .bar__icon:before {
  transform: rotate(-45deg);
  transition: transform 0.4s linear 0.2s, top 0.195s linear;
  top: 25px; }

#circle {
  stroke-width: 8;
  fill: #fcfcfc;
  stroke-dasharray: 580;
  stroke-dashoffset: 580; }

.header {
  height: 100vh;
  text-align: center;
  background-color: #87509c; }
  .header__container {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center; }
  .header__title {
    padding-top: 0; }
  .header__logo {
    position: absolute;
    left: 0;
    top: 0px;
    font-size: 50px;
    margin: 0;
    color: #ffffff; }
    @media (max-width: 767px) {
      .header__logo {
        display: none; } }

.nav {
  position: absolute;
  right: 0;
  top: 16px; }
  @media (max-width: 767px) {
    .nav {
      display: none; } }
  .nav__link {
    margin-right: 20px;
    color: #ffffff;
    border-radius: 4px;
    padding: 5px 15px;
    display: inline-block;
    transition: background 300ms ease; }
    .nav__link:last-child {
      margin-right: 0; }
    .nav__link:hover {
      background-color: #643a79; }

.btn {
  border: none;
  width: 290px;
  height: 66px;
  border-bottom: 3px solid;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin-top: 60px;
  transition: transform 500ms ease; }
  @media (max-width: 767px) {
    .btn {
      width: 50%;
      font-size: 4vw; } }
  .btn:active {
    transform: translateY(3px); }
  .btn--orange {
    background-color: #eb7d4b;
    border-color: #c86a40; }
  .btn--cyan {
    background-color: #17c2a4;
    border-color: #14a58c; }
  .btn--blue {
    background-color: #30bae7;
    border-color: #299ec5; }

.bar {
  background-color: rgba(0, 0, 0, 0.91);
  display: none;
  height: 50px;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 2; }
  .bar__logo {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700; }
  .bar__menu {
    height: 50px;
    width: 50px;
    position: relative; }
  .bar__icon {
    align-content: center; }
    .bar__icon:after {
      content: "";
      background-color: #ffffff;
      display: block;
      width: 23px;
      height: 3px;
      position: absolute;
      border-radius: 80px;
      transition: transform 0.195s linear, top 0.4s linear 0.2s;
      top: 19px;
      left: 8px; }
    .bar__icon:before {
      content: "";
      background-color: #ffffff;
      display: block;
      width: 23px;
      height: 3px;
      position: absolute;
      border-radius: 80px;
      transition: transform 0.195s linear, top 0.4s linear 0.2s;
      top: 31px;
      left: 8px; }
  .bar__top {
    color: #ffffff;
    position: relative;
    width: 32px; }
    .bar__top:after {
      content: "";
      border: solid #ffffff;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 5px;
      transform: rotate(-135deg);
      position: absolute;
      right: 13px;
      top: -5px; }
    .bar__top:before {
      content: "";
      width: 23px;
      display: block;
      height: 3px;
      background-color: #ffffff;
      right: 8px;
      top: -12px;
      position: absolute;
      border-radius: 80px; }
    .bar__top--arrow {
      display: block;
      width: 3px;
      height: 20px;
      background-color: #ffffff;
      position: absolute;
      top: -6px;
      right: 18px;
      border-radius: 80px; }
  .bar__list {
    display: none;
    width: 100vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.91);
    position: absolute;
    padding: 50px;
    transition: height 0.5s linear; }
  .bar__item {
    display: block;
    border-bottom: 2px solid rgba(255, 255, 255, 0.37);
    margin-bottom: 36px;
    padding-bottom: 21px; }
  .bar__link {
    color: #ffffff;
    font-size: 22px; }
  @media (max-width: 767px) {
    .bar {
      display: flex; } }

.services {
  background-color: #17c2a4;
  text-align: center; }
  @media (max-width: 767px) {
    .services__icons {
      height: 20vw; } }
  .services__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 100px; }
    @media (max-width: 767px) {
      .services__content {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 20%; } }
  .services__column {
    width: 260px;
    padding: 0 22px; }
    @media (max-width: 767px) {
      .services__column {
        margin-top: 8vw; } }
  .services__subtitle {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 22px;
    margin-top: 45px; }
    @media (max-width: 767px) {
      .services__subtitle {
        margin: 2vw 0;
        font-size: 6vw; } }
  .services__title:after {
    content: "";
    display: block;
    width: 90px;
    height: 4px;
    border-radius: 80px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 20px auto; }
  .services__text {
    font-size: 18px;
    color: #ffffff; }
    .services__text--content {
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 1px; }
      @media (max-width: 767px) {
        .services__text--content {
          font-size: 4vw; } }
    .services__text--above {
      width: 580px;
      margin: 0 auto;
      line-height: 27px;
      margin-bottom: 90px; }
      @media (max-width: 767px) {
        .services__text--above {
          width: auto;
          margin: 0 10%; } }

.team {
  text-align: center;
  background-color: #e7f1f8; }
  .team__title:after {
    content: "";
    display: block;
    width: 90px;
    height: 4px;
    border-radius: 80px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 20px auto; }
  .team__content {
    display: flex;
    padding-bottom: 100px;
    margin-top: 80px; }
    @media (max-width: 767px) {
      .team__content {
        flex-wrap: wrap;
        margin-top: 40px;
        padding-bottom: 20%; } }
  .team__photo {
    display: block;
    width: 200px;
    height: 200px;
    background-color: #878787;
    border-radius: 100px;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .team__photo {
        height: 30vw;
        width: 30vw; } }
  .team__social {
    display: flex;
    justify-content: center;
    margin-top: 30px; }
    @media (max-width: 767px) {
      .team__social {
        margin-top: 12px; } }
  .team__column {
    display: block; }
    @media (max-width: 767px) {
      .team__column {
        margin-top: 30px; } }
  .team__text {
    font-size: 18.5px; }
  .team__subtitle {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 10px; }
    @media (max-width: 767px) {
      .team__subtitle {
        font-size: 6vw;
        margin-top: 13px;
        margin-bottom: 5px; } }
  .team__box {
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 23px;
    padding: 0 33px; }
    @media (max-width: 767px) {
      .team__box {
        font-size: 4vw;
        line-height: normal;
        letter-spacing: normal;
        margin-top: 10px; } }
  .team__svg {
    fill: #bdd1df; }
  .team__link {
    margin: 0 5px; }

.skills {
  background-color: #ffffff;
  text-align: center; }
  .skills__container {
    padding-top: 100px; }
  .skills__title:after {
    content: "";
    display: block;
    width: 90px;
    height: 4px;
    border-radius: 80px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 20px auto; }
  .skills__subtitle {
    font-size: 24px;
    margin-top: 30px; }
    @media (max-width: 767px) {
      .skills__subtitle {
        margin-top: 5px;
        font-size: 6vw; } }
  .skills__text {
    font-size: 18px;
    padding: 0 265px;
    line-height: 27px; }
    @media (max-width: 767px) {
      .skills__text {
        padding: 0;
        margin: 0 5%; } }
  .skills__graph {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    padding-bottom: 100px; }
    @media (max-width: 767px) {
      .skills__graph {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
        padding-bottom: 20%; } }
  .skills__column {
    position: relative; }
    @media (max-width: 767px) {
      .skills__column {
        margin-top: 50px; } }
  .skills__value {
    font-size: 50px;
    position: absolute;
    font-weight: 300;
    top: 55px;
    right: 38px; }
  .skills__circle {
    transform: rotate(-90deg); }
  .skills__v1 {
    stroke: #30bae7;
    animation: complete1 1.9s ease-in-out forwards; }
@keyframes complete1 {
  to {
    stroke-dashoffset: 58; } }
  .skills__v2 {
    stroke: #d74680;
    animation: complete2 1.5s ease-in-out forwards; }
@keyframes complete2 {
  to {
    stroke-dashoffset: 145; } }
  .skills__v3 {
    stroke: #15c7a8;
    animation: complete3 1.4s ease-in-out forwards; }
@keyframes complete3 {
  to {
    stroke-dashoffset: 174; } }
  .skills__v4 {
    stroke: #eb7d4b;
    animation: complete4 1.7s ease-in-out forwards; }
@keyframes complete4 {
  to {
    stroke-dashoffset: 87; } }
.portfolio {
  background-color: #ffdd99;
  text-align: center; }
  .portfolio__btn {
    margin-bottom: 100px; }
  .portfolio__text {
    font-size: 18px;
    padding: 0 318px;
    line-height: 27px;
    margin-bottom: 50px; }
    @media (max-width: 767px) {
      .portfolio__text {
        margin-bottom: 20px;
        padding: 0;
        font-size: 5vw;
        line-height: 17px; } }
  .portfolio__subtitle {
    font-size: 18px;
    margin-top: 15px; }
    @media (max-width: 767px) {
      .portfolio__subtitle {
        font-size: 4vw;
        margin-top: 5px; } }
  .portfolio__box {
    margin-top: 60px; }
    @media (max-width: 767px) {
      .portfolio__box {
        margin-top: 25px;
        padding: 0 2%; } }
  .portfolio__hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .portfolio__hero {
        justify-content: space-evenly; } }
  .portfolio__links {
    display: flex;
    justify-content: center; }
    @media (max-width: 767px) {
      .portfolio__links {
        width: 78vw;
        margin: 0 auto; } }
  .portfolio__link {
    border-radius: 4px;
    color: #333333;
    display: flex;
    transition: background 300ms ease;
    width: 80px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: #ebc985;
    font-weight: 600;
    margin: 0 7px; }
    .portfolio__link:hover {
      background-color: #ffffff; }
    @media (max-width: 767px) {
      .portfolio__link {
        height: 7vw;
        font-size: 4vw; } }
  @media (max-width: 767px) {
    .portfolio__pc {
      height: 32vw;
      width: 50vw; } }
  .portfolio__title:after {
    content: "";
    display: block;
    width: 90px;
    height: 4px;
    border-radius: 80px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 20px auto; }

.about {
  text-align: center;
  background-color: #d74680; }
  .about__hero {
    display: flex;
    padding-bottom: 100px;
    flex-wrap: wrap;
    margin-top: 70px;
    justify-content: space-around; }
    @media (max-width: 767px) {
      .about__hero {
        margin-top: 25px;
        padding-bottom: 20%; } }
  .about__photo {
    display: block;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    background-color: #787878;
    position: absolute; }
    @media (max-width: 767px) {
      .about__photo {
        position: static;
        margin: 0 auto 12px auto; } }
  .about__box {
    width: 540px;
    position: relative; }
    .about__box:nth-child(1n+3) {
      margin-top: 160px; }
    @media (max-width: 767px) {
      .about__box {
        position: static;
        padding: 0 3%;
        margin-top: 40px; }
        .about__box:nth-child(1n+3) {
          margin-top: 40px; } }
  .about__text {
    font-size: 18px; }
  .about__comment {
    font-size: 21px;
    font-style: italic;
    color: #ffffff;
    margin: 10px 0 0 150px;
    text-align: left;
    font-weight: 300; }
    @media (max-width: 767px) {
      .about__comment {
        font-size: 4vw;
        text-align: center;
        margin: 0 auto;
        padding: 0 10%; } }
  .about__name {
    font-size: 24px;
    color: #ffffff;
    margin: 15px 0 0 150px;
    text-align: left; }
    @media (max-width: 767px) {
      .about__name {
        font-size: 5vw;
        text-align: center;
        margin: 13px auto 0 auto; } }
  .about__prof {
    font-size: 18px;
    color: #ffdd99;
    margin-left: 150px;
    text-align: left;
    font-weight: 300; }
    @media (max-width: 767px) {
      .about__prof {
        font-size: 5vw;
        text-align: center;
        margin: 0 auto; } }
  .about__title:after {
    content: "";
    display: block;
    width: 90px;
    height: 4px;
    border-radius: 80px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 20px auto; }

.contact {
  text-align: center;
  background-color: #3c5499; }
  .contact__btn {
    margin-bottom: 100px; }
    @media (max-width: 767px) {
      .contact__btn {
        margin-bottom: 20%; } }
  .contact__text {
    font-size: 18px; }
    @media (max-width: 767px) {
      .contact__text {
        font-size: 4vw;
        padding: 0 2%; } }
  .contact__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 820px;
    margin: 75px auto 0 auto; }
    @media (max-width: 767px) {
      .contact__box {
        margin: 0 auto;
        width: 100vw;
        flex-direction: column;
        margin-top: 20px; } }
    .contact__box--name {
      width: 400px;
      height: 55px;
      background-color: #273a71;
      border-radius: 5px;
      border: none; }
      .contact__box--name::placeholder {
        color: #ffffff;
        padding-left: 10px; }
      @media (max-width: 767px) {
        .contact__box--name {
          width: 70vw;
          height: 8vw;
          margin: auto; } }
    .contact__box--email {
      width: 400px;
      height: 55px;
      background-color: #273a71;
      border-radius: 5px;
      border: none; }
      .contact__box--email::placeholder {
        color: #ffffff;
        padding-left: 10px; }
      @media (max-width: 767px) {
        .contact__box--email {
          width: 70vw;
          height: 8vw;
          margin: 15px auto; } }
    .contact__box--message {
      width: 820px;
      height: 210px;
      background-color: #273a71;
      border-radius: 5px;
      border: none;
      margin-top: 25px; }
      .contact__box--message::placeholder {
        color: #ffffff;
        padding-left: 10px;
        padding-top: 10px; }
      @media (max-width: 767px) {
        .contact__box--message {
          width: 70vw;
          height: 27vw;
          margin: auto; } }
  .contact__title:after {
    content: "";
    display: block;
    width: 90px;
    height: 4px;
    border-radius: 80px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 20px auto; }

.footer {
  text-align: center;
  background-color: #344b8e; }
  .footer__links {
    display: flex;
    padding: 45px 0;
    justify-content: space-evenly; }
    @media (max-width: 767px) {
      .footer__links {
        padding: 10% 0;
        align-items: center;
        height: 22px; } }
  .footer__link {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600; }
    .footer__link:hover {
      color: #30bae7; }
    @media (max-width: 767px) {
      .footer__link {
        display: none; } }
  .footer__log {
    display: none;
    fill: #ffffff; }
    @media (max-width: 767px) {
      .footer__log {
        display: block; } }

/*# sourceMappingURL=style.css.map */
