*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Titillium Web", sans-serif; }

.container {
  margin: 0 auto;
  width: 1200px;
  position: relative; }
  @media (max-width: 767px) {
    .container {
      width: 100vw; } }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.title {
  font-size: 42px; }
  .title--white {
    color: #ffffff; }
  .title--blue {
    color: #3c4761; }
  .title--black {
    color: #393939; }
  @media (max-width: 767px) {
    .title {
      font-size: 7vw;
      margin: 0 5%; } }

.header {
  height: 100vh;
  text-align: center;
  background-color: #87509c; }
  .header__container {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center; }
  .header__logo {
    position: absolute;
    left: 0;
    top: 0px;
    font-size: 50px;
    margin: 0;
    color: #ffffff; }
    @media (max-width: 767px) {
      .header__logo {
        display: none; } }

.nav {
  position: absolute;
  right: 0;
  top: 16px; }
  @media (max-width: 767px) {
    .nav {
      display: none; } }
  .nav__link {
    margin-right: 20px;
    color: #ffffff;
    border-radius: 4px;
    padding: 5px 15px;
    display: inline-block;
    transition: background 300ms ease; }
    .nav__link:last-child {
      margin-right: 0; }
    .nav__link:hover {
      background-color: #643a79; }

.btn {
  border: none;
  width: 290px;
  height: 66px;
  border-bottom: 3px solid;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin-top: 60px;
  transition: transform 500ms ease; }
  @media (max-width: 767px) {
    .btn {
      width: 50%; } }
  .btn:active {
    transform: translateY(3px); }
  .btn--orange {
    background-color: #eb7d4b;
    border-color: #c86a40; }
  .btn--cyan {
    background-color: #17c2a4;
    border-color: #14a58c; }
  .btn--blue {
    background-color: #30bae7;
    border-color: #299ec5; }

.bar {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  height: 50px;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 1; }
  .bar__logo {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700; }
  .bar__icon {
    align-content: center; }
    .bar__icon:after {
      content: "";
      background-color: #ffffff;
      display: block;
      width: 23px;
      height: 3px;
      margin: 0 0 0 8px;
      border-radius: 80px; }
    .bar__icon:before {
      content: "";
      background-color: #ffffff;
      display: block;
      width: 23px;
      height: 3px;
      margin: 0 0 8px 8px;
      border-radius: 80px; }
  .bar__top {
    color: #ffffff;
    position: relative;
    width: 32px; }
    .bar__top:after {
      content: "";
      border: solid #ffffff;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 5px;
      transform: rotate(-135deg);
      position: absolute;
      right: 13px;
      top: -5px; }
    .bar__top:before {
      content: "";
      width: 23px;
      display: block;
      height: 3px;
      background-color: #ffffff;
      right: 8px;
      top: -12px;
      position: absolute;
      border-radius: 80px; }
    .bar__top--arrow {
      display: block;
      width: 3px;
      height: 20px;
      background-color: #ffffff;
      position: absolute;
      top: -6px;
      right: 18px;
      border-radius: 80px; }
  .bar__list {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.91);
    position: absolute;
    padding: 50px; }
  .bar__item {
    display: block;
    border-bottom: 2px solid rgba(255, 255, 255, 0.37);
    margin-bottom: 36px;
    padding-bottom: 21px; }
  .bar__link {
    color: #ffffff;
    font-size: 22px; }
  @media (max-width: 767px) {
    .bar {
      display: flex; } }

.services {
  background-color: #17c2a4;
  text-align: center; }
  @media (max-width: 767px) {
    .services__icons {
      height: 20vw; } }
  .services__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    @media (max-width: 767px) {
      .services__content {
        flex-wrap: wrap;
        justify-content: center; } }
  .services__column {
    width: 260px;
    padding: 0 22px; }
    @media (max-width: 767px) {
      .services__column {
        margin-top: 8vw; } }
  .services__subtitle {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 22px;
    margin-top: 45px; }
    @media (max-width: 767px) {
      .services__subtitle {
        margin: 2vw 0;
        font-size: 6vw; } }
  .services__title {
    letter-spacing: 2px;
    padding-top: 100px; }
    .services__title:after {
      content: "";
      display: block;
      width: 90px;
      height: 4px;
      border-radius: 80px;
      background-color: #14a58c;
      margin: 15px auto; }
  .services__text {
    font-size: 18px;
    color: #ffffff; }
    .services__text--content {
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 1px; }
      @media (max-width: 767px) {
        .services__text--content {
          font-size: 4vw; } }
    .services__text--above {
      width: 580px;
      margin: 0 auto;
      line-height: 27px;
      margin-bottom: 90px; }
      @media (max-width: 767px) {
        .services__text--above {
          width: auto;
          margin: 0 10%; } }

/*# sourceMappingURL=style.css.map */
