.about
    text-align: center
    background-color: #d74680

    &__hero
        display: flex
        padding-bottom: 75px
        flex-flow: wrap
        margin-top: 55px
        justify-content: space-around


    &__photobk
        display: flex
        align-items: center
        justify-content: center
        border-radius: 100px
        height: 100px
        width: 100px
        background-color: #787878
        border: 2px solid #ffffff
        position: absolute
            

    &__photo
        height: 96px
        width: 96px
        border-radius: 100px


    &__box
        width: 560px
        height: 160px
        padding: 10px
        margin: 22px
        box-shadow: 2px 2px 40px #9c3e63
        border-radius: 15px
        position: relative

    &__text
        font-size: 18px

    &__comment
        font-size: 21px
        font-style: italic
        color: #ffffff
        margin: 10px 0 0 150px
        text-align: left
        font-weight: 300

    &__name
        font-size: 24px
        color: #ffffff
        margin: 15px 0 0 150px
        text-align: left
        
    &__prof
        font-size: 18px
        color: #ffdd99
        margin-left: 150px
        text-align: left
        font-weight: 300

    &__title
        &:after
            content: ''
            display: block
            width: 90px
            height: 4px
            border-radius: 80px
            background-color: rgba(0, 0, 0, 0.2)
            margin: 20px auto
