.bar
    background-color: rgba(0,0,0,0.8)
    display: none
    height: 50px
    position: fixed
    width: 100%
    justify-content: space-between
    align-items: center
    z-index: 1
    
    &__logo
        color: #ffffff
        font-size: 30px
        font-weight: 700

    &__icon
        align-content: center    

        &:after
            content:  ''
            background-color: #ffffff
            display: block
            width: 23px
            height: 3px
            margin: 0 0 0 8px
            border-radius: 80px

        &:before
            content: ''
            background-color: #ffffff
            display: block
            width: 23px
            height: 3px
            margin: 0 0 8px 8px
            border-radius: 80px


    &__top
        color: #ffffff
        position: relative
        width: 32px

        &:after
            content: ''
            border: solid #ffffff
            border-width: 0 3px 3px 0
            display: inline-block
            padding: 5px
            transform: rotate(-135deg)
            position: absolute
            right: 13px
            top: -5px


        &:before
            content: ''
            width: 23px
            display: block
            height: 3px
            background-color: #ffffff
            right: 8px
            top: -12px
            position: absolute
            border-radius: 80px

        &--arrow
            display: block
            width: 3px
            height: 20px
            background-color: #ffffff
            position: absolute
            top: -6px
            right: 18px
            border-radius: 80px

    &__icone
         

    &__list
        display: none // Abertura do menu modo Mobile
        width: 100vw
        height: 100vh
        background-color: rgba(0,0,0,0.91)
        position: absolute
        padding: 50px

    &__item
        display: block
        border-bottom: 2px solid rgba(255,255,255,0.37)
        margin-bottom: 36px
        padding-bottom: 21px

    &__link
        color: #ffffff
        font-size: 22px
      

    @media (max-width: $mobile)
        display: flex