.bar
    background-color: #333333
    display: none
    height: 50px
    position: fixed
    width: 100%
    justify-content: space-between
    align-items: center
    
    &__logo
        color: #ffffff

    &__icon
        align-content: center    

    &__top
        color: #ffffff
        
    &__icone
        background-color: #ffffff
        display: block
        width: 20px
        height: 3px
        margin: 4px 0 4px 8px

        &--before

        &--after
            

    &__list
        display: none

    @media (max-width: $mobile)
        display: flex