$tablet: 991px
$mobile: 767px
*,
*:before,
*:after 
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    font-family: 'Titillium Web', sans-serif

.container 
    margin: 0 auto
    width: 1200px
    position: relative

a 
    text-decoration: none

.text
    font-size: 42px
 
    &--white
        color: #ffffff

    &--blue
        color: #3c4761

    &--black
        color: #393939

@media (max-width: $mobile)
    .header
        display: flex

        &__title
            margin-left: 5px
            position: static !important

        &__container
            flex-wrap: wrap !important
                    
    .text
        font-size: 5vw

    .hero
        display: inline

    .nav
        position: static !important
