*,
*:before,
*:after 
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    font-family: 'Titillium Web', sans-serif

.container 
    margin: 0 auto
    width: 1200px
    position: relative

a 
    text-decoration: none

.text
    font-size: 42px
 
    &__color--white
        color: #ffffff

    &__color--blue
        color: #3c4761

    &__color--black
        color: #393939