$tablet: 780px
$mobile: 767px
*,
*:before,
*:after 
    margin: 0
    padding: 0
    box-sizing: border-box
    outline: none

body 
    font-family: 'Titillium Web', sans-serif

.container 
    margin: 0 auto
    width: 72%
    position: relative

    @media (max-width: $tablet)
        width: 90%

a 
    text-decoration: none

ul
    list-style: none

.title
    font-size: 42px
    letter-spacing: 2px
    padding-top: 100px

.white
    color: #ffffff

.blue
    color: #3c4761

.blue2
    color: #27283d

.black
    color: #393939

.blue3
    color: #30bae7
    
.menu-open 
    .bar
        z-index: 2

    .bar__list
        opacity: 1
        z-index: -1
        height: 100vh
        visibility: visible

    .bar__item
        opacity: 1

    body
        overflow: hidden

    .bar__icon:after 
        transform: rotate(45deg)
        transition: transform 0.4s linear 0.2s, top 0.195s linear
        top: 25px

    .bar__icon:before
        transform: rotate(-45deg)
        transition: transform 0.4s linear 0.2s, top 0.195s linear
        top: 25px

#circle 
    stroke-width: 8
    fill: #fcfcfc
    stroke-dasharray: 580
    stroke-dashoffset: 580
    
@keyframes complete1
    to
        stroke-dashoffset: 58

@keyframes complete2
    to
        stroke-dashoffset: 145

@keyframes complete3
    to
        stroke-dashoffset: 174

@keyframes complete4
    to
        stroke-dashoffset: 87

.cd-top--show 
    opacity: 1 

.cd-top--fade-out 
    opacity: 0 

.cd-top2--fade-out 
    opacity: 0 

.js_top--show .bar__top
    opacity: 1
