.btn
    border: none
    width: 290px
    height: 66px
    border-bottom: 3px solid
    border-radius: 4px
    color: #fff
    cursor: pointer
    font-size: 18px
    margin-top: 60px
    transition: transform 500ms ease
    @media (max-width: $mobile)
        width: 50%
    
    &:active 
        transform: translateY(3px)

    &--orange
        background-color: #eb7d4b
        border-color: #c86a40

    &--cyan
        background-color: #17c2a4
        border-color: #14a58c

    &--blue
        background-color: #30bae7
        border-color: #299ec5
    