.btn
    border: none
    width: 290px
    height: 66px
    border-bottom: 3px solid
    border-radius: 4px
    color: #fff
    cursor: pointer
    font-size: 18px
    margin-top: 60px
    transition: 200ms box-shadow, 300ms opacity, 200ms transform

    &:active 
        transform: translateY(10px)

    &--orange
        background-color: #eb7d4b
        border-color: #c86a40

    &--cyan
        background-color: #17c2a4
        border-color: #14a58c

    &--blue
        background-color: #30bae7
        border-color: #299ec5

    &:hover
        opacity: 0.7
        box-shadow: 3px 3px 5px #333333
        transform: translateY(-2px)
    