.services
    background-color: #17c2a4
    height: 100vh
    text-align: center

    &__content
        display: flex
        justify-content: space-between
        align-items: flex-start

    &__column
        width: 260px
        padding: 0 22px

    &__subtitle
        color: #ffffff
        font-size: 24px
        margin-bottom: 22px
        margin-top: 45px

    &__title
        letter-spacing: 2px
        padding-top: 100px


        &:after
            content: ''
            display: block
            width: 90px
            height: 4px
            border-radius: 80px
            background-color: #14a58c
            margin: 15px auto

    &__text
        font-size: 18px
        color: #ffffff
      
        
        &--content
            font-size: 16px
            line-height: 23px
            letter-spacing: 1px
            
        &--above
            width: 580px
            margin: 0 auto
            line-height: 27px
            margin-bottom: 90px