.team
    text-align: center
    background-color: #e7f1f8

    &__title 
        &:after
            content: ''
            display: block
            width: 90px
            height: 4px
            border-radius: 80px
            background-color: rgba(0, 0, 0, 0.2)
            margin: 20px auto

    &__content
        display: flex
        padding-bottom: 50px
        margin-top: 80px
        flex-flow: wrap
        justify-content: space-around

            

    &__photobk
        display: flex
        align-items: center
        justify-content: center
        border: 1px solid #3c4761
        background-color: #878787
        border-radius: 100px
        margin: 0 auto


    &__photo
        width: 195px
        border-radius: 50%


    &__social
        display: flex
        justify-content: center



    &__column
        display: flex
        height: 500px
        width: 290px
        flex-direction: column
        justify-content: space-between
        padding: 0 30px
        margin-bottom: 60px


        
    &__text
        font-size: 18.5px
        
    &__subtitle
        font-size: 24px

    &__box
        font-size: 16px
        letter-spacing: 1px
        line-height: 23px
        padding: 0 10px


    &__svg
        fill: #bdd1df
        transition: 550ms transform

        &:hover
            transform: rotateX(360deg)

    &__link
        margin: 0 5px
        transition: 650ms transform

        &:hover
            transform: scale3d(1.5,1.5,1)